<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngFor="let menu of menusItems">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>{{menu.icon}}</mat-icon>
              {{menu.label}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item *ngFor="let child of menu.child">
            <a mat-list-item [routerLink]="child.path" routerLinkActive="selected">
              <span>{{child.label}}</span>
            </a>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
    <mat-divider></mat-divider>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angular-experiment</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet>
    </router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
