<div class="container-fluid">

    <div class="row">
        <div class="col-12">
                <mat-card>
                        <mat-card-header>
                          <mat-card-title>Ajouter un produit</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                          <form [formGroup]="productForm">
                            <div class="row">
                              <div class="col-md-4">
                                <mat-form-field>
                                  <input matInput placeholder="Nom de produit" formControlName="name">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field>
                                  <input matInput placeholder="Quantité" formControlName="quantity">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field>
                                  <input matInput placeholder="Prix de vente" formControlName="salePrice">
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <mat-form-field>
                                  <textarea matInput placeholder="Description" formControlName="description"></textarea>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field>
                                  <input matInput placeholder="Prix d'achat" formControlName="purchasePrice">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                
                                    <mat-label>Upload a file</mat-label>
                                    <mat-icon matSuffix (click)="openFileDialog()">attach_file</mat-icon>
                                    <input #fileInput type="file" (change)="handleFileInput($event)" style="display: none;"/>
                               
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <mat-form-field>
                                  <mat-label>Attributs</mat-label>
                                  <mat-select multiple formControlName="attributes">
                                    <mat-option *ngFor="let attribute of attributes" [value]="attribute">{{attribute}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field>
                                  <mat-label>Caractéristiques</mat-label>
                                  <mat-select multiple formControlName="features">
                                    <mat-option *ngFor="let feature of features" [value]="feature">{{feature}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <button mat-raised-button color="primary" (click)="submitForm()">Envoyer</button>
                              </div>
                            </div>
                          </form>
                        </mat-card-content>
                      </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

        </div>
    </div>

</div>
