<div class="container-fluid">

            <div class="row">
                <div class="col-12">
                        <mat-card>
                                <mat-card-header>
                                  <mat-card-title>Ajouter un produit</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <form [formGroup]="productForm">
                                    <mat-tab-group>
                                        <mat-tab label="General">
                                               
                                                        <div class="row">
                                                          <div class="col-md-4">
                                                            <mat-form-field>
                                                              <input matInput placeholder="Nom de produit" formControlName="nom">
                                                            </mat-form-field>
                                                          </div>
                                                          <div class="col-md-4">
                                                            <mat-form-field>
                                                              <input matInput placeholder="Quantité" formControlName="quantite">
                                                            </mat-form-field>
                                                          </div>
                                                          <div class="col-md-4">
                                                            <mat-form-field>
                                                              <input matInput placeholder="Prix de vente" formControlName="prixVente">
                                                            </mat-form-field>
                                                          </div>
                                                        </div>
                                                        <div class="row">
                                                          <div class="col-md-4">
                                                            <mat-form-field>
                                                              <textarea matInput placeholder="Description" formControlName="description"></textarea>
                                                            </mat-form-field>
                                                          </div>
                                                          <div class="col-md-4">
                                                            <mat-form-field>
                                                              <input matInput placeholder="Prix d'achat" formControlName="prix">
                                                            </mat-form-field>
                                                          </div>
                                                          <div class="col-md-4">
                                            
                                                                <mat-label>Upload a file</mat-label>
                                                                <mat-icon matSuffix (click)="openFileDialog()">attach_file</mat-icon>
                                                                <input #fileInput type="file" (change)="handleFileInput($event)" style="display: none;"/>
                                                           
                                                          </div>
                                                        </div>
                                                        <div class="row">
                                                          
                                                          
                                                        </div>
                                                        <div class="row">
                                                          <div class="col-12">
                                                            <button mat-raised-button color="primary" (click)="submitForm()">Envoyer</button>
                                                          </div>
                                                        </div>

                                        </mat-tab>

                                        <mat-tab label="attribut">
                                                <div class="col-md-4">


                                                           <div *ngFor="let interest of interests; let i = index"
                                                                
                                                           >
                                                                   <mat-checkbox
                                                                   formControlName="{{i}}"
                                                                   (change)="onChange($event)" [value]="interest"
                                                                   >{{interest}}</mat-checkbox>
                                                                </div>
                                                       
                                                                <!-- <span class="example-list-section">
                                                                <ul>
                                                                  <li *ngFor="let subtask of attributes" formArrayName="interests">
                                                                    <mat-checkbox 
                                                                        >
                                                                      {{subtask.name}}
                                                                    </mat-checkbox>
                                                                  </li>
                                                                </ul>
                                                              </span> -->

                                                        
                                                
                                                            
                                                        <mat-form-field>
                                                          <mat-label>Attributs</mat-label>
                                                          <mat-select multiple formControlName="attributes">
                                                            <mat-option *ngFor="let attribute of attributes" [value]="attribute">{{attribute}}</mat-option>
                                                          </mat-select>
                                                        </mat-form-field>
                                                      </div>
                                        </mat-tab>
                                        <mat-tab label="caracteristique">

                                                <div class="col-md-4">
                                                        <mat-form-field>
                                                          <mat-label>Caractéristiques</mat-label>
                                                          <mat-select multiple formControlName="features">
                                                            <mat-option *ngFor="let feature of features" [value]="feature">{{feature}}</mat-option>
                                                          </mat-select>
                                                        </mat-form-field>
                                                      </div>
                                        </mat-tab>
                                        
                                    </mat-tab-group>
                                    
                                </form>

                                  
                                </mat-card-content>
                              </mat-card>
                </div>
            </div>
        
            <div class="row">
                <div class="col-12">
        
                </div>
            </div>
        
        </div>
        